<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3fd38ad3-579b-4640-9e72-df1783073380/resourceGroups/fiap/providers/Microsoft.ContainerRegistry/registries/fiapcloudgameacr</ResourceId>
    <ResourceName>fiapcloudgameacr</ResourceName>
    <ResourceGroup>fiap</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://fiapcloudgameacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0295d3e1-1968-4c56-acfe-8688547a6a52</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>